<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Eliminazione</title>
</head>
<body>
    <div style="padding:15px">
        <center>
            <h1 style="color:crimson">PRODOTTO ELIMINATO <span th:text="${p.codice}"> </span> </h1>
        </center>
        <p>Hai eliminato il seguente prodotto: <p th:text="${p.nome}"></p> </p>
        <a class="btn btn-success" th:href="@{/}">Home</a>
    </div>
    
</body>
</html>